**A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount**

In [ ]:
sal=int(input("enter the salary:"))
exp=int(input("enter the number of experience:"))
if exp>=5:
    bonus=(0.05*sal)+sal
    print("your bonus salary is",bonus)
else:
    print("your salary is",sal)

enter the salary:70000
enter the number of experience:8
your bonus salary is 73500.0

**A company decided to give bonus of 8% to male employee and 10% to female employee. if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount**

In [ ]:
sal=int(input("enter the salary:"))
ser=int(input("enter the number of year of service:"))
G=input("enter the gender:")
if ser>=5:
    if G=="female":
        bonus=(0.1*sal)+sal
        print("your bonus salary is",bonus)
    else:
        bonus=(0.08*sal)+sal
        print("your bonus salary is",bonus)
else:
    print("your salary is",sal)

enter the salary:30000
enter the number of year of service:6
enter the gender:female
your bonus salary is 33000.0

**write program to find given input year is  leap year or not**

In [ ]:
year = int(input("enter year: "))
if year % 4 == 0 and  year % 100 != 0 or year % 400 == 0 :
    print(year," is \"leap year\"")
else:
    print(year," is not \"leap year\"")

enter year: 2020
2020  is "leap year"

**write program program for grading students like following
 0-40 p
41-50- c
50 -60 -b
60- 70 -b+
70- 80- a
80- 90-a+
90 -100- o**

In [ ]:
marks=int(input("Enter the marks:"))
if marks>0 and marks<=40:
    print("your grade is Pass")
if marks>41 and marks<50 :
    print("your grade is \"C\"")
if marks>50 and marks<60 :
    print("your grade is \"B\"")
if marks>60 and marks<70 :
    print("your grade is \"B\"")
if marks>70 and marks<80 :
    print("your grade is \"A\"")
if marks>80 and marks<90 :
    print("your grade is \"A\"")
if marks>90 and marks<100 :
    print("your grade is \"O\"")

Enter the marks:99
your grade is "O"

**write program for positive,negative or zero**

In [ ]:
n=int(input("enter the number:"))
if n>0:
    print(n," is positive number")
if n==0:
    print(n," is zero")
if n<0:
    print(n,"is negative number")

enter the number:5
5  is positive number

**write program to take uesr input between 1-7 and display corresponding day of week**

In [ ]:
N=int(input("Enter number b/w 1 and 7:"))
if N==1:
    print('\"sunday\"')
if N==2:
    print('\"monday\"')
if N==3:
    print("\"tuesday\"")
if N==4:
    print("\"wedneday\"")
if N==5:
    print("\"thursday\"")
if N==6:
    print("\"friday\"")
if N==7:
    print("\"saturday\"")
if N>7:
    print("\"number is  not valid\"")

Enter number b/w 1 and 7:7
"saturday"

**write program for tax calculation**

In [ ]:
a=int(input("enter the salary:"))
if a<=500000:
  print("no tax")
elif a>500000 and a<=1000000:
  print("tax is",(a*5/100))
elif a>1000000 and a<=2000000:
  print("tax is ",(a*10/100))
elif a>2000000:
  print("tax is",(a*30/100))

enter the salary:7000000
tax is 2100000.0

**multiplication table**

In [ ]:
a=int(input("enter the number:"))
print("multiplication table is:")
for i in range (1,11):
    print(a,'X',i,'=',a*i)

enter the number:2
multiplication table is:
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
n=int(input("enter the number:"))
for i in range (1,n+1):
    if i % 2 == 0 :
        print(i,"is even number")
    if i % 2!=0:
        print(i,"is odd number")

enter the number:10
1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number

**avearge of n numbers**

In [ ]:
num= int(input("Enter the number:"))
sum=0
for i in range (1,num+1):
  sum=sum+i
Average = sum/num
print(Average)

Enter the number:3
2.0

**factorial numbers**

In [ ]:
num= int(input("Enter the number:"))
factorial=1
for i in range (1,num+1):
  factorial =factorial*i
print(factorial)

Enter the number:3
6

**factorial by recursion**

In [ ]:
def factorial(n):
  factorial=1
  for i in range(1,n+1):
    factorial=factorial*i
  return factorial
n=int(input("enter the number:"))
print(factorial(n))

enter the number:3
6

**maximum number of two numbers**

In [ ]:
a=int(input("Enter the number:"))
b=int(input("Enter the number:"))
if a>b:
    print(a,"is maximum")
else :
    print(b,"is maximum")

Enter the number:6
Enter the number:2
6 is maximum

**maximum of 3 numbers**

In [ ]:
a=int(input("Enter the number:"))
b=int(input("Enter the number:"))
c=int(input("Enter the number:"))
if a>b and a>c:
    print(a,"is maximum")
elif b>a and b>c:
     print(b,"is maximum")
elif c>b and c>a:
    print(c,"c is maximum")

Enter the number:5
Enter the number:4
Enter the number:3
5 is maximum

**print 1-n numbers**

In [ ]:
n=int(input('enter the value for n:'))
for i in range(1,n+1):
    print(i)
else:
    print('Task done')

enter the value for n:10
1
2
3
4
5
6
7
8
9
10
Task done

**print n even numbers**

In [ ]:
n=int(input('enter the value for n:'))
for i in range(0,n):
     print(2*i)
     i=i+2

enter the value for n:10
0
2
4
6
8
10
12
14
16
18

**print odd numbers**

In [ ]:
n=int(input('enter the value for n:'))
for i in range(0,n):
     print(2*i+1)
     i=i+2

enter the value for n:10
1
3
5
7
9
11
13
15
17
19

**print the square of  1 to n**

In [ ]:
n=int(input("enter the number:"))
print("series is:")
for i in range(1,n+1):
     print(i*i)
     i=i+1

enter the number:3
series is:
1
4
9

**calculator**

In [ ]:
op=input("enter the operator:")
num1=int(input("enter the number:"))
num2=int(input("enter the number:"))
if (op=='+'):
  result=num1+num2
if (op=='-'):
  result=num1-num2
if (op=='*'):
  result=num1*num2
if (op=='/'):
   if num2==0:
     result="not defined"
   else:
     result=num1/num2
print("result:",result)

enter the operator://
enter the number:32
enter the number:2
result: 16

**vote**

In [ ]:
age = int(input("Enter Your Age "))
if age >= 18:
   print("Congrats! you are eligible for Voting.")
if age < 18:
  print("Sorry! your are not eligible for Voting.")
print("THANK YOU.")

Enter Your Age 2
Sorry! your are not eligible for Voting.
THANK YOU.

**prime or composite**

In [ ]:
n=int(input("enter the number:"))
count=0
for i in range(1,n):
  (n % i)==0
  count=count+1
  i=i+1
if count==1:
  print(n,"is prime number")
else:
  print(n,"is composite number")

enter the number:103
103 is composite number

**vowel or consonant**

In [ ]:
ch=input("enter the character:")
if ch=="a" or ch=="e" or ch=="i" or ch=="o" or ch=="u" or ch=="A" or ch=="E" or ch=="I" or ch=="O" or ch=="U":
  print(ch,"is vowel")
else:
  print(ch,"is consonant")

enter the character:k
k is consonant

**sum of n numbers**

In [ ]:
n=int(input("Enter the number:"))
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

Enter the number:5
15

**sum of n numbers by recursion**

In [ ]:
def sum(n):
  sum=0
  for i in range(1,n+1):
    sum=sum+i
  return sum
n=int(input("enter the number:"))
result=sum(n)
print(result)

enter the number:3
6

**sum of even numbers**

In [ ]:
n=int(input("Enter the number:"))
sum=0
for i in range(1,n):
  sum=sum+2*i
print(sum)

Enter the number:3
6

**sum of odd numbers**

In [ ]:
n=int(input("Enter the number:"))
sum=0
for i in range(0,n):
  sum=sum+(2*i+1)
print(sum)

Enter the number:3
9

**take a list the user and remove the duplicates from the list and count the unique elements in the list**

In [ ]:
n=int(input("enter the number:"))
l1=[]
sum=0
for i in range(0,n):
    element=int(input("element:"))
    l1.append(element)
s1=set(l1)
print(s1)

enter the number:3
element:1
element:2
element:2
{1, 2}

**sum and avg of list**

In [ ]:
n=int(input("enter the number:"))
l1=[]
sum=0
for i in range(0,n):
    element=int(input("element:"))
    l1.append(element)
    sum=sum+element
    avg=sum/n
print("the sum is",sum)
print("the avg us",avg)

enter the number:3
element:1
element:2
element:3
the sum is 6
the avg us 2.0

**reverse the list without in bulit functions**

In [ ]:
n=int(input("enter the number:"))
l1=[]
for i in range(0,n):
  element=input("enter the elemnt:")
  l1.append(element)
print(l1)
l2=[]
for i in range (len(l1)-1,-1,-1):
  l2.append(l1[i])
print(l2) n

enter the number:3
enter the elemnt:1
enter the elemnt:2
enter the elemnt:3
['1', '2', '3']
['3', '2', '1']

**reverse the list**

In [ ]:
n=[1,2,3,4,5]
n.reverse()
print(n)

[5, 4, 3, 2, 1]

**wap to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings**

In [ ]:
n=int(input("enter the number:"))
l1=[]
for i in range(0,n):
  element=input("enter the elemnt:")
  l1.append(element)
print(l1)
count=0
for i in range (0,n):
  if len(l1[i])>=2:
    if l1[i][0]==l1[i][len(l1[i])-1]:
      count +=1
print(count)

enter the number:3
enter the elemnt:1231
enter the elemnt:abca
enter the elemnt:12356
['1231', 'abca', '12356']
2

**wap to check whether a given key already exists in the dictionary**

In [ ]:
d={1:'one',2:'two',3:'three',4:'four'}
a=int(input("type the key:"))
if a in d:
    print("yes it is already exists")
else:
    print("no it is not exists")

type the key:3
yes it is already exists

**fabonocciseries**

In [ ]:
n=int(input("enter the number:"))
a=0
b=1
for i in range(1,n+1):
    c=a+b
    a=b
    b=c
    i=i+1
print(a)

enter the number:6
8

**swapping of two numbers**

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
print("before swapping:","a=",a ,"b=",b)
c=a
a=b
b=c
print("after swapping:","a=",a,"b=",b)

enter the number:1
enter the number:2
before swapping: a= 1 b= 2
after swapping: a= 2 b= 1

**polindrone or not**

In [ ]:
n = input("Enter the word or number: ")
if n == n[::-1]:
  print(n,"is palindrome")
else:
  print(n,"is not palindrome")

Enter the word or number: 1221
1221 is palindrome

**quadratic equation**

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
c=int(input("enter the number:"))
print(a,"x2+",b,"x",c,"=0")
d= (-b+(b**2-4*a*c)**0.5)/2*a
e= (-b-(b**2-4*a*c)**0.5)/2*a
print("roots =",d,",",e)

enter the number:1
enter the number:4
enter the number:-5
1 x2+ 4 x -5 =0
roots = 1.0 , -5.0

**perform sum for the following series.
1/12+1/22+1/32+........+1/n2**

In [ ]:
n=int(input("enter the number:"))
sum=0
for i in range(1,n+1):
  c=1/i**2
  sum=sum+c
print(sum)

enter the number:2
1.25

**perform sum for the following series.
1+1/2+1/3+1/4+.........+1/n**

In [ ]:
n=int(input("enter the number:"))
sum=0
for i in range(1,n+1):
  c=1/i
  sum=sum+c
print(sum)

enter the number:2
1.5

**perform sum of the following series...
1/2+2/3+3/4+......n/n+1**

In [ ]:
n=int(input("enter the number:"))
sum=0
for i in range(1,n+1):
  c=i/(i+1)
  sum=sum+c
print(sum)

enter the number:5
3.5500000000000003

**perform sum of the following series...
1/2^+2/2+3^3/3+......n^i/n**

In [ ]:
n=int(input("enter the number:"))
sum=0
for i in range(1,n+1):
  c=i**i/i
  sum=sum+c
print(sum)

enter the number:5
701.0

**calculator using define function**

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y
op=input("enter the operator:")
x=int(input("enter the number:"))
y=int(input("enter the number:"))
if (op=='+'):
  print(x, "+", y, "=", add(x, y))
if (op=='-'):
  print(x, "-", y, "=", subtract(x, y))
if (op=='*'):
  print(x, "*", y, "=", multiply(x, y))
if (op=='/'):
  print(x, "/", y, "=", divide(x, y))

enter the operator:+
enter the number:1
enter the number:2
1 + 2 = 3

**convert a binary number to decimal number snd verify if it is a perfect**

In [ ]:
x= input("Enter a binary number: ")
l= list(x)
value= 0
for i in range(len(l)):
	digit = l.pop()
	if digit == '1':
		value = value + 2**i
print(value)
sum=0
for j in range(1,value):
  if value%j==0:
    sum=sum+j
if(value==sum):
  print("Perfect number")
else:
  print("Not a Perfect Number")

Enter a binary number: 110
6
Perfect number

**polindrone or not by define function**

In [ ]:
def polindrone(n):
  if n==n[::-1]:
    return True
  else:
    return False
n=input("enter the number:")
if polindrone(n)==True:
  print(n,"is palindrome")
else:
  print(n,"is not palindrome")

enter the number:gg
gg is palindrome

**area of circle**

In [ ]:
r=int(input("enter the radius:"))
area=3.14*r**2
print("radius of circle=",area)

enter the radius:2
radius of circle= 12.56

**area of rectangle**

In [ ]:
l = int(input("Enter rectangle's length: "))
b = int(input("Enter rectangle's breadth: "))
area = l * b
print("The area of rectangle is" ,area)

Enter rectangle's length: 2
Enter rectangle's breadth: 4
The area of rectangle is 8

**area of square**

In [ ]:
s = int(input("Enter square's side length: "))
area = s * s
print("The area of square is:",area)

Enter square's side length: 2
The area of square is: 4

**area of triangle**

In [ ]:
h = int(input("Enter triangle's height length: "))
b = int(input("Enter triangle's breadth length: "))
area = 0.5 * b * h
print("The area of triangle is:",area)

Enter triangle's height length: 2
Enter triangle's breadth length: 6
The area of triangle is: 6.0

**count,sum,avg of numbers**

In [ ]:
n=int(input("Enter the number:"))
sum=0
for i in range(1,n+1):
  sum=sum+i
  avg=sum/n
count=0
while n !=0:
  n//=10
  count+=1
print("count:",str(count))
print("average:",avg)
print("sum:",sum)

Enter the number:25
count: 2
average: 13.0
sum: 325

 **Write a python program to print a list of strings should contains only the uppercase strings (string=” operators in Python**

In [ ]:
n=int(input("enter the number:"))
l1=[]
sum=0
for i in range(0,n):
    element=input("element:")
    l1.append(element.upper())
print(l1)

enter the number:4
element:abba
element:dfg
element:sfdg
element:dgd
['ABBA', 'DFG', 'SFDG', 'DGD']

**polindrone by loop function**

In [ ]:
def pal(n):
  j=len(n)-1
  count = 0
  for i in range(len(n)//2):
    if n[i]==n[j]:
      count+=1
  if count == len(n)//2:
    return True
  else:
    return False
n=input("enter the word or number:")
if pal(n) == True:
  print(n,"is polindrone")
else:
  print(n,"is not polindrone")

enter the word or number:123
123 is polindrone

**fibnocci series by recursion**

In [ ]:
def fib(n):
  if n==1:
    return 0
  elif n==2 or n==3:
    return 1
  else:
    return fib(n-1)+fib(n-2)
n=int(input("enter the number:"))
for i in range(1,n+1):
  print(fib(i))

enter the number:5
0
1
1
2
3

**polindrone by recursion**

In [ ]:
def polindrone(n):
  if len(n) < 1:
    return True
  else:
    if n[0]==n[-1]:
      return polindrone(n[1:-1])
    else:
      return False
n=input("enter the number:")
if (polindrone(n)==True):
  print(n,"is palindrome")
else:
  print(n,"is not palindrome")

enter the number:mom
mom is palindrome

**Given a positive integer, write a function to find if it is a power of two or not.**

In [ ]:
def is_power_of_two(n):
    """Return True if n is a power of two."""
    if n <= 1:
        return False
    else:
        return n & (n - 1) == 0

n = int(input('Enter a number: '))

if is_power_of_two(n):
    print("YES")
else:
    print("NO")

Enter a number: 3
No

**check whether anagram or not**

In [ ]:
s1=input("enter the string:")
s2=input("enter the number:")
if (sorted(s1)==sorted(s2)):
  print('true')
else:
  print('false')

enter the string:1
enter the number:2
false

**given an integer n,return a list with each number from 1 to n, except if its a multiple of 3 or has a 3,6, or 9 in the number ,it should be the string "clap"**

In [ ]:
n=int(input("enter the number:"))
l1=[str(i)for i in range(1,n+1)]
for i in range(len(l1)):
  if int(l1[i])%3==0:
    l1[i]="clap"
  if '3' in l1[i]:
    l1[i]='clap'
  if '6' in l1[i]:
    l1[i]='clap'
  if '9' in l1[i]:
    l1[i]='clap'
print(l1)

enter the number:20
['1', '2', 'clap', '4', '5', 'clap', '7', '8', 'clap', '10', '11', 'clap', 'clap', '14', 'clap', 'clap', '17', 'clap', 'clap', '20']

In [ ]:
n=int(input("enter the number:"))
l1=[]
for i in range(1,n+1):
  l1.append(str(i))
for i in range(len(l1)):
  if int(l1[i])%3==0:
    l1[i]="clap"
  if '3' in l1[i]:
    l1[i]="clap"
  if '6' in l1[i]:
    l1[i]="clap"
  if '9' in l1[i]:
    l1[i]="clap"
print(l1)

enter the number:20
['1', '2', 'clap', '4', '5', 'clap', '7', '8', 'clap', '10', '11', 'clap', 'clap', '14', 'clap', 'clap', '17', 'clap', 'clap', '20']

In [ ]:
n=int(input("enter the number:"))
l1=[]
for i in range(0,n):
  e=input("enter the word=")
  l1.append(e[i][0].upper()+e[i][1:].lower())
print(l1)

enter the number:2
enter the word=ghgnhg
enter the word=htrhthf
['G', 'T']

**Given a list of integers nums, find the most frequently occurring element and return the number of occurrences of that element.**

In [ ]:
def f(n):
  l1=[]
  if len(n)==0:
    return 0
  for num in n:
    l1.append(n.count(num))
    n.remove(num)
    return max(l1)
f([1,4,1,7,1,7,1,1])

5

**You are given a list nums of length n + 1 picked from the range 1, 2, ..., n. Find and return it. There is guaranteed to be exactly one duplicate.**

In [ ]:
def d(a):
  l1=[]
  for i in range(len(a)):
    if a[i] in l1:
      return a[i]
    else:
      l1.append(a[i])
print("output=",d([1,1,6,5,1,2]))

output= 1

In [ ]:
n=int(input("enter the number:"))
for i in range(0,n+1):
  print(i*"*")
for i in range(n-1,-1,-1):
  print(i*"*")

enter the number:5

*
**
***
****
*****
****
***
**
*

In [ ]:
n=int(input("enter the number:"))
l1=[]
for i in range(0,n):
  e=int(input("enter the number:"))
  l1.append(e)
  l1.sort()
print(l1)

enter the number:5
enter the number:12
enter the number:3
enter the number:22
enter the number:4
enter the number:56
[3, 4, 12, 22, 56]

In [ ]:
a=open("12.txt")
n=[]
for i in a:
  temp=i.split()
  for j in temp:
    n.append(int(j))
a.close()
n.sort()
print(n)

[1, 2, 4, 5, 8, 52]